.wines {
  // display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  padding-left: 80px;
  margin: 0;
  transition: all $transition;
  overflow: hidden;

  @include flexbox;
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(stretch);
  @include align-content(stretch);

  &__title {
    display: block;
    position: absolute;
    left: 80px;
    top: 30px;
    right: 80px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 143px;
    font-family: $font_default;
    font-weight: 900;
    font-size: 44px;
    line-height: 77px;
    color: $black;
    text-transform: uppercase;
    z-index: 2;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 33px;
      width: 77px;
      height: auto;
    }
  }

  &__filters {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 35%;
    background-color: $white;
    padding: 140px 40px 60px;
    z-index: 1;

    &__block {
      display: block;


      &__title {

      }


    }
  }

  &__list {
    display: block;
    position: relative;
    @include flex-basis(65%);
    padding: 140px 0 60px;
    background-color: $white;
  }
}
