<%
  extra_classes ||= ""
  name ||= ""
  note ||= ""
  menu ||= ""
  beverages ||= ""
%>


<div class="beverages <%= extra_classes %>">

  <p class="beverages__title">
    <%= image_tag '/assets/images/shared/logo.svg', :alt => 'Restaurante Gara' %>
    <span>Carta de bebidas</span>
  </p>

  <div class="beverages__filters">
    <div class="beverages__filters__block">
      <p class="beverages__filters__block__title">Tipo de bebida</p>
      <ul class="beverages__filters__block__list">
        <li>
          <input type="checkbox" value="" id="drinkType1">
          <label for="drinkType1">
            <span>Cervezas</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="drinkType2">
          <label for="drinkType2">
            <span>Refrescos</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="drinkType3">
          <label for="drinkType3">
            <span>Aguas</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="drinkType4">
          <label for="drinkType4">
            <span>Zumos</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="drinkType5">
          <label for="drinkType5">
            <span>Cocktails</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="drinkType6">
          <label for="drinkType6">
            <span>Licores</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="drinkType7">
          <label for="drinkType7">
            <span>Cafés e infusiones</span>
          </label>
        </li>
      </ul>
    </div>

    <div class="beverages__filters__clear">
      <span class="beverages__filters__clear__link">
        <span class="icon-trash"></span>
        <span>Limpiar filtros</span>
      </span>
    </div>

  </div>

  <div class="beverages__list">

    <%= partial("modules/drink-list", :locals => {
      :extra_classes => 'beverages__list__slider',
      :drinks => beverages
    }) %>

  </div>

</div>
