<%
  extra_classes ||= ""
  name ||= ""
  note ||= ""
  menu ||= ""
  wines ||= ""
%>


<div class="wines <%= extra_classes %>">

  <p class="wines__title">
    <%= image_tag '/assets/images/shared/logo_mini_dark.png', :alt => 'Tasca Fandango' %>
    <span>Carta de vinos</span>
  </p>

  <div class="wines__filters">
    <div class="wines__filters__block">
      <p class="wines__filters__block__title">Tipo de vino</p>
      <ul class="wines__filters__block__list">
        <li>
          <input type="checkbox" value="" id="wineType1">
          <label for="wineType1">
            <span>Tinto</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="wineType2">
          <label for="wineType2">
            <span>Rosado</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="wineType3">
          <label for="wineType3">
            <span>Blanco</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="wineType4">
          <label for="wineType4">
            <span>Espumoso</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="wineType5">
          <label for="wineType5">
            <span>Dulce</span>
          </label>
        </li>
      </ul>
    </div>
    <div class="wines__filters__block">
      <p class="wines__filters__block__title">Denominaciones de origen</p>
      <div class="wines__filters__block--sub-block">
        <p class="wines__filters__block__title wines__filters__block__title--sub">Peninsula</p>
        <ul class="wines__filters__block__list wines__filters__block__list--half">
          <li>
            <input type="checkbox" value="" id="wineDO1">
            <label for="wineDO1">
              <span>Alicante</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO2">
            <label for="wineDO2">
              <span>Cadiz</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO3">
            <label for="wineDO3">
              <span>C.A. Rioja</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO4">
            <label for="wineDO4">
              <span>Castilla</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO5">
            <label for="wineDO5">
              <span>Castilla y Leon</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO6">
            <label for="wineDO6">
              <span>Cataluña</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO7">
            <label for="wineDO7">
              <span>Cigales</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO8">
            <label for="wineDO8">
              <span>Extremnadura</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO9">
            <label for="wineDO9">
              <span>Jumilla</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO10">
            <label for="wineDO10">
              <span>Navarra</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO11">
            <label for="wineDO11">
              <span>Penedés</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO12">
            <label for="wineDO12">
              <span>Rias Baixas</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO13">
            <label for="wineDO13">
              <span>Ribera del Duero</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO14">
            <label for="wineDO14">
              <span>Rioja</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD15">
            <label for="wineD15">
              <span>Rueda</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD16">
            <label for="wineD16">
              <span>Sierra de Malaga</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD17">
            <label for="wineD17">
              <span>Somontano</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD18">
            <label for="wineD18">
              <span>Toro</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD19">
            <label for="wineD19">
              <span>Valencia</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD20">
            <label for="wineD20">
              <span>Valdehorras</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD21">
            <label for="wineD21">
              <span>Vinos de España</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO1">
            <label for="wineDO1">
              <span>Alicante</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO2">
            <label for="wineDO2">
              <span>Cadiz</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO3">
            <label for="wineDO3">
              <span>C.A. Rioja</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO4">
            <label for="wineDO4">
              <span>Castilla</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO5">
            <label for="wineDO5">
              <span>Castilla y Leon</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO6">
            <label for="wineDO6">
              <span>Cataluña</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO7">
            <label for="wineDO7">
              <span>Cigales</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO8">
            <label for="wineDO8">
              <span>Extremnadura</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO9">
            <label for="wineDO9">
              <span>Jumilla</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO10">
            <label for="wineDO10">
              <span>Navarra</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO11">
            <label for="wineDO11">
              <span>Penedés</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO12">
            <label for="wineDO12">
              <span>Rias Baixas</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO13">
            <label for="wineDO13">
              <span>Ribera del Duero</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineDO14">
            <label for="wineDO14">
              <span>Rioja</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD15">
            <label for="wineD15">
              <span>Rueda</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD16">
            <label for="wineD16">
              <span>Sierra de Malaga</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD17">
            <label for="wineD17">
              <span>Somontano</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD18">
            <label for="wineD18">
              <span>Toro</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD19">
            <label for="wineD19">
              <span>Valencia</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD20">
            <label for="wineD20">
              <span>Valdehorras</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD21">
            <label for="wineD21">
              <span>Vinos de España</span>
            </label>
          </li>
        </ul>
        <p class="wines__filters__block__title wines__filters__block__title--sub">Islas Canarias</p>
        <ul class="wines__filters__block__list wines__filters__block__list--half">
          <li>
            <input type="checkbox" value="" id="wineD22">
            <label for="wineD22">
              <span>Abona</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD23">
            <label for="wineD23">
              <span>Ycoden-Saute-Isora</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD24">
            <label for="wineD24">
              <span>Tacorne-Acentejo</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD25">
            <label for="wineD25">
              <span>Valle de güimar</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD26">
            <label for="wineD26">
              <span>Valle de la ortova</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD27">
            <label for="wineD27">
              <span>Vinos atlánticos</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD28">
            <label for="wineD28">
              <span>EL hierro</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD29">
            <label for="wineD29">
              <span>Gran canaria</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD30">
            <label for="wineD30">
              <span>Lanzarote</span>
            </label>
          </li>
          <li>
            <input type="checkbox" value="" id="wineD31">
            <label for="wineD31">
              <span>La palma</span>
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="wines__filters__clear">
      <span class="wines__filters__clear__link">
        <span class="icon-trash"></span>
        <span>Limpiar filtros</span>
      </span>
    </div>

  </div>

  <div class="wines__list">

    <%= partial("modules/wine-list", :locals => {
      :extra_classes => 'wines__list__slider',
      :wines => wines
    }) %>

  </div>

</div>
