<div class="beverages" >
    <p class="beverages__title">
      <img src="assets/images/shared/logo.svg" alt="Restaurante Gara" />
      <span>{{ translations.drinks.page_title[currentLang] }}</span>
    </p>
    <div class="beverages__filters">
      <div class="beverages__filters__block">
        <p class="beverages__filters__block__title">{{ translations.drinks.filters.title[currentLang] }}</p>
        <ul class="beverages__filters__block__list"  *ngIf="drinkTypes.length > 0"> 
          <li *ngFor="let drinkType of drinkTypes" >
            <input type="checkbox" [value]="drinkType.id" 
              [id]="'drinkType-' + drinkType.id" 
              [checked]="inArray(drinkFilters ,drinkType.id)"
              (change)="changeDrinkFilters(drinkType.id, $event.target.checked)" />
            <label [for]="'drinkType-'+ drinkType.id">
              <span>{{ drinkType.translate[currentLang].name }}</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="beverages__filters__clear" (click)="clearFilters()" *ngIf="drinkFilters.length > 0">
        <span class="beverages__filters__clear__link">
          <span class="icon-trash"></span>
          <span>{{ translations.drinks.filters.button[currentLang] }}</span>
        </span>
      </div>
    </div>
    <div class="beverages__list" *ngIf="!no_results">
      <div class="swiper-container drink-list beverages__list__slider" [swiper]="currentConfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide drink-list__item" *ngFor="let droup of drinks">
            <div class="drinks-row">
              <div class="drinks-row__drink" *ngFor="let drink of droup">
                <div class="drinks-row__drink__image" >
                  <img *ngIf="drink.image != ''" [src]="imagesPath + drink.image"  [default]="'assets/images/shared/default_drink.png'"  alt="Menu bottle" />
                  <img *ngIf="drink.image == ''" [src]="'assets/images/shared/default_drink.png'"  [default]="'assets/images/shared/default_drink.png'"  alt="Menu bottle" />
                </div>
                <div class="drinks-row__drink__info">
                  <p class="drinks-row__drink__info__name">{{ (( drink.translate[currentLang]['name']).length> 40)? (drink.translate[currentLang]['name'] | slice:0:37)+'..':(drink.translate[currentLang]['name'])  }}</p>
                  <p class="drinks-row__drink__info__type">{{ drink.drink_type[0].translate[currentLang].name }}</p>
                  <p class="drinks-row__drink__info__desc" *ngIf="drink.translate[currentLang].description != ''">{{ drink.translate[currentLang].description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev drink-list__nav drink-list__nav--prev">
          <span class="icon-chevron-up"></span>
        </div>
        <div class="swiper-button-next drink-list__nav drink-list__nav--next">
          <span class="icon-chevron-down"></span>
        </div>
      </div>
    </div>
    <div class="noresults noresults--beverages" *ngIf="no_results">
        <div class="noresults__wrapper">
          <img src="assets/images/shared/no-results_{{currentLang}}.png" class="noresults__wrapper__image" alt="No results es" />
        </div>
      </div>
  </div>