<div class="menu ">
  <p class="menu__title">
    <img src="assets/images/shared/logo.svg" alt="Restaurante Gara" />
    <span>{{ translations.menu.page_title[currentLang] }}</span>
  </p>
  <a [routerLink]="['/menus']" class="menu__return">
    <span class="icon-return"></span>
  </a>
  <div class="menu__summary" *ngIf="hasProp(menu, 'menu_wines')">
    <div class="menu__summary__menu">
      <p class="menu__summary__menu__name" >
       {{ menu.translate[currentLang].name}}
      </p>
      <p class="menu__summary__menu__note" *ngIf="'' != menu.translate[currentLang].description">
        {{ menu.translate[currentLang].description }}
      </p>
      <p class="menu__summary__menu__text" *ngFor="let dish of menu.menu_dishes; index as i " (click)="goToIndexDishes(i,300)" >
          {{ dish.translate[currentLang].name }}
      </p>
      <div *ngIf="wines.length != 0">
          <span class="menu__summary__menu__wines" (click)="pairingStatus(true)" *ngIf="menu?.pairing_included == 1">
            <p class="menu__summary__menu__wines__text">
              {{ translations.menu.pairing.title[currentLang] }}
            </p>
            <p class="menu__summary__menu__wines__note">
                {{ translations.menu.pairing.subtitle[currentLang] }}
            </p>
          </span>
          <span class="menu__summary__menu__wines" (click)="pairingStatus(true)" *ngIf="menu?.pairing_included == 0">
            <p class="menu__summary__menu__wines__text">
              {{ translations.menu.pairing.title_0[currentLang] }}
            </p>
            <p class="menu__summary__menu__wines__note">
                {{ translations.menu.pairing.subtitle_0[currentLang] }}
            </p>
          </span>
        </div>
    </div>
  </div>
  <div class="menu__details" *ngIf="hasProp(menu, 'menu_dishes')">
    <div class="swiper-container menu__details__slider"  [swiper]="swiperDishesConfig" >
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide menu__details__slider__item" *ngFor="let dish of menu['menu_dishes']; index as i ">
          <div class="menu-dish">
            <div class="menu-dish__info">
              <p class="menu-dish__info__name">
                <span class="menu-dish__info__name--number">
                  {{ i+1 | number:'2.0-0'  }} 
                </span>
                <span class="menu-dish__info__name--text"> 
                  {{ (( dish.translate[currentLang]['name']).length> 130)? (dish.translate[currentLang]['name'] | slice:0:135)+'...':(dish.translate[currentLang]['name']) }}                
                </span>
              </p>
              <div class="menu-dish__info__allergens">
                <ul class="menu-dish__info__allergens__list">
                    <li *ngFor="let allergen of dish.dish_allergens ">
                        <span [class]="'icon-'+ allergen.icon "></span>
                    </li>
                </ul>
                <ul class="menu-dish__info__allergens__list menu-dish__info__allergens__list--border">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
            <div class="menu-dish__image">
              <img *ngIf="dish.image != ''" [src]="imagesPath +'/dishes/'+ dish.image" [default]="'assets/images/shared/default_dish.png'" class="dishes-row__dish__image" alt="Intro dish1" />
              <img *ngIf="dish.image == ''" [src]="'assets/images/shared/default_dish.png'" [default]="'assets/images/shared/default_dish.png'" class="dishes-row__dish__image" alt="Intro dish1" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev menu__details__slider__nav menu__details__slider__nav--prev">
        <span class="icon-chevron-up"></span>
      </div>
      <div class="swiper-button-next menu__details__slider__nav menu__details__slider__nav--next">
        <span class="icon-chevron-down"></span>
      </div>
    </div>
    <div class="menu__details__wines" [ngClass]="{'active': pairing}">
      <p class="menu__details__wines__title">
          {{ translations.menu.pairing.title[currentLang] }}
      </p>
      <span class="menu__details__wines__close" (click)="pairingStatus(false)">
        <span class="icon-close"></span>
      </span>
      <div class="swiper-container wine-list menu__details__wines__slider" [swiper]="swiperPairingConfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide wine-list__item" *ngFor="let wines_group of wines">
            <div class="wines-row">
              <div class="wines-row__wine" *ngFor="let wine of wines_group" >
                <div class="wines-row__wine__image">
                  <img *ngIf="wine.image != ''" [src]="imagesPath +'/wines/'+ wine.image" [default]="'assets/images/shared/default_drink.png'" alt="Menu bottle" />
                  <img *ngIf="wine.image == ''" [src]="'assets/images/shared/default_drink.png'" [default]="'assets/images/shared/default_drink.png'" alt="Menu bottle" />
                </div>
                <div class="wines-row__wine__info">
                  <p class="wines-row__wine__info__name">{{ (( wine.name ).length > 40)? (wine.name  | slice:0:37)+'...':(wine.name )}}</p>
                  <p class="wines-row__wine__info__type" *ngIf="wine.wine_type.length != 0"> {{ wine.wine_type[0].translate[currentLang] }}</p>
                    <p class="wines-row__wine__info__origin" *ngIf="wine.wine_do.length != 0">
                      <strong>D. O.</strong> {{ wine.wine_do[0].name  }}</p>
                    <p class="wines-row__wine__info__variety" *ngIf="(wine.wine_varieties).length != 0">
                      <span class="wines-row__wine__info__variety--label" >{{ translations.menu.pairing.variety[currentLang] }}:</span>
                      <span class="wines-row__wine__info__variety--value"> 
                        <span  *ngFor="let wine_variety of wine.wine_varieties ; let last = last"> 
                            {{ wine_variety.translate[currentLang] }}{{ (last)? '' : ','  }}  
                        </span>
                      </span>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev wine-list__nav wine-list__nav--prev" *ngIf="wines.length > 3">
          <span class="icon-chevron-up"></span>
        </div>
        <div class="swiper-button-next wine-list__nav wine-list__nav--next" *ngIf="wines.length > 3">
          <span class="icon-chevron-down"></span>
        </div>
      </div>
    </div>
  </div>
</div>