---
title: Project Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content-wrapper">

  <%= partial("modules/beverages", :locals => {
    :extra_classes => '',
    :beverages => [
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Nombre de la bebida',
        :type => 'Tipo de bebida',
        :info => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo eum itaque qui sit, optio facere dicta esse numquam, commodi voluptas possimus mollitia. Quibusdam natus, beatae culpa quisquam, obcaecati dolores!'
      }
    ]
  }) %>

</div>

<%= partial("shared/footer") %>
