---
title: Project Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content-wrapper">

  <%= partial("modules/dishes", :locals => {
    :extra_classes => '',
    :title => 'Entrantes frios',
    :dishes => [
      {
        :name => 'Jam贸n iberico de bellota 5J cortado cortado a mano, con pan payes y tomate en aove',
        :image => '/assets/images/content/home/intro_dish1.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      {
        :name => 'Coca de foie con reduccion de PX y cebolla caramelizada 1u',
        :image => '/assets/images/content/home/intro_dish2.png',
        :link => '/dish.html',
        :allergens => [
          'gluten'
        ]
      },
      {
        :name => 'Langostinos tigre con ajo y guindilla servidos con tostas de pan 4u',
        :image => '/assets/images/content/home/intro_dish3.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'pescado'
        ]
      },
      {
        :name => 'Jam贸n iberico de bellota 5J cortado cortado a mano, con pan payes y tomate en aove',
        :image => '/assets/images/content/home/intro_dish1.png',
        :link => '/dish.html',
        :allergens => [
          'pescado'
        ]
      },
      {
        :name => 'Coca de foie con reduccion de PX y cebolla caramelizada 1u',
        :image => '/assets/images/content/home/intro_dish2.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'pescado'
        ]
      },
      {
        :name => 'Langostinos tigre con ajo y guindilla servidos con tostas de pan 4u',
        :image => '/assets/images/content/home/intro_dish3.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      {
        :name => 'Jam贸n iberico de bellota 5J cortado cortado a mano, con pan payes y tomate en aove',
        :image => '/assets/images/content/home/intro_dish1.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      {
        :name => 'Coca de foie con reduccion de PX y cebolla caramelizada 1u',
        :image => '/assets/images/content/home/intro_dish2.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      {
        :name => 'Langostinos tigre con ajo y guindilla servidos con tostas de pan 4u',
        :image => '/assets/images/content/home/intro_dish3.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      {
        :name => 'Jam贸n iberico de bellota 5J cortado cortado a mano, con pan payes y tomate en aove',
        :image => '/assets/images/content/home/intro_dish1.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      {
        :name => 'Coca de foie con reduccion de PX y cebolla caramelizada 1u',
        :image => '/assets/images/content/home/intro_dish2.png',
        :link => '/dish.html',
        :allergens => [
          'gluten',
          'moluscos',
          'pescado'
        ]
      },
      # {
      #   :name => 'Langostinos tigre con ajo y guindilla servidos con tostas de pan 4u',
      #   :image => '/assets/images/content/home/intro_dish3.png',
      #   :link => '/dish.html',
      #   :allergens => [
      #     'gluten',
      #     'moluscos',
      #     'pescado'
      #   ]
      # }
    ]
  }) %>

</div>

<%= partial("shared/footer") %>
