---
title: Project Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content-wrapper">

  <%= partial("modules/wines", :locals => {
    :extra_classes => '',
    :wines => [
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Artifice Listan Blanco de Canarias "fermentado en barrica"',
        :type => 'Vino blanco',
        :origin => 'Penedés',
        :variety => 'Chardonnay'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Canarius',
        :type => 'Vino blanco',
        :origin => 'Islas Canarias',
        :variety => 'Listán Blanco, Marmajuelo'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Jean Leon Vinya Gigi',
        :type => 'Vino blanco',
        :origin => 'Penedés',
        :variety => 'Chardonnay'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Canarius',
        :type => 'Vino blanco',
        :origin => 'Islas Canarias',
        :variety => 'Listán Blanco, Marmajuelo'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Jean Leon Vinya Gigi',
        :type => 'Vino blanco',
        :origin => 'Penedés',
        :variety => 'Chardonnay'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Canarius',
        :type => 'Vino blanco',
        :origin => 'Islas Canarias',
        :variety => 'Listán Blanco, Marmajuelo'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Jean Leon Vinya Gigi',
        :type => 'Vino blanco',
        :origin => 'Penedés',
        :variety => 'Chardonnay'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Canarius',
        :type => 'Vino blanco',
        :origin => 'Islas Canarias',
        :variety => 'Listán Blanco, Marmajuelo'
      },
      {
        :image => '/assets/images/shared/menu-bottle.png',
        :name => 'Jean Leon Vinya Gigi',
        :type => 'Vino blanco',
        :origin => 'Penedés',
        :variety => 'Chardonnay'
      }
    ]
  }) %>

</div>

<%= partial("shared/footer") %>
