      <div class="dishes ">
        <p class="dishes__title">
          <img src="../assets/images/shared/logo_mini.png" alt="Tasca Fandango" />
          <span>{{  ((currentFilters.categories).length == 1)? title_category[currentLang]['name'] :  translations.dishes.title[currentLang] }}</span>
        </p>
        <div class="swiper-container dishes__slider" [swiper]="currentConfig" (init)="hola()"  >
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <div class="swiper-slide dishes__slider__item" *ngFor="let group of dishes ; let last = last; index as i">
              <div class="dishes-row">
                <a [routerLink]="['/dish',dish.id]"  class="dishes-row__dish" *ngFor="let dish of group; index as j">
                  <p class="dishes-row__dish__name">
                    <span class="dishes-row__dish__name--number">
                        {{ (  3 * i + j)+1  }} 
                    </span>
                    <span class="dishes-row__dish__name--text"> {{ dish.lang[currentLang]['name'] }}</span>
                  </p>
                  <img [src]="imgPath + '/dishes/' + dish.images[0]" class="dishes-row__dish__image" alt="Intro dish1" />
                    <ul class="dishes-row__dish__allergens">
                      <li *ngFor="let allergen_id of dish.allergens ">
                          <span [class]="'icon-'+ getIcon(allergen_id) "></span>
                      </li>
                    </ul>
                    <ul class="dishes-row__dish__allergens dishes-row__dish__allergens--border">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                </a>
              </div>
              <span *ngIf="last">{{ resize() }}</span>
            </div>
          </div>
          <div class="swiper-button-prev dishes__slider__nav dishes__slider__nav--prev">
            <span class="icon-chevron-up"></span>
          </div>
          <div class="swiper-button-next dishes__slider__nav dishes__slider__nav--next">
            <span class="icon-chevron-down"></span>
          </div>
        </div>
      </div>