      <div class="dishes" *ngIf="!no_results">
        <p class="dishes__title">
          <img src="../assets/images/shared/logo_mini.png" alt="Tasca Fandango" />
          <span>{{  ((currentFilters.categories).length == 1)? title_category[currentLang]['name'] :  title_category[currentLang] }}</span>
        </p>
        <div class="swiper-container dishes__slider" [swiper]="currentConfig"  >
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <div class="swiper-slide dishes__slider__item" *ngFor="let group of dishes ; let firstlast = last; index as i; ">
              <div class="dishes-row">
                <a [routerLink]="['/dish',(  3 * i + j)]"  class="dishes-row__dish" *ngFor="let dish of group; index as j; let secondlast = last;">
                  <p class="dishes-row__dish__name">
                    <span class="dishes-row__dish__name--number">
                        {{   3 * i + j + 1 | number:'2.0-0'  }} 
                    </span>
                    <span class="dishes-row__dish__name--text"> {{ dish.translate[currentLang]['name'] }} </span>
                  </p>
                  <img [src]="imagesPath + dish.image"   src-fallback="{{ '../assets/images/shared/default_dish.png' }}"  class="dishes-row__dish__image" alt="Intro dish1" />
                  <ul class="dishes-row__dish__allergens">
                    <li *ngFor="let allergen of dish.dish_allergens ">
                        <span [class]="'icon-'+ allergen.icon "></span>
                    </li>
                  </ul>
                  <ul class="dishes-row__dish__allergens dishes-row__dish__allergens--border">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev dishes__slider__nav dishes__slider__nav--prev">
            <span class="icon-chevron-up"></span>
          </div>
          <div class="swiper-button-next dishes__slider__nav dishes__slider__nav--next">
            <span class="icon-chevron-down"></span>
          </div>
        </div>
      </div>
      <div class="noresults" *ngIf="no_results">
        <p class="noresults__title">
          <img src="../assets/images/shared/logo_mini.png" alt="Tasca Fandango" />
          <span>uups</span>
        </p>
        <div class="noresults__wrapper">
          <img src="../assets/images/shared/no-results_{{currentLang}}.png" class="noresults__wrapper__image" alt="No results es" />
        </div>
      </div>
      <div class="filters" [ngClass]="{'active': filtersMenu}">
        <span class="filters__button" (click)="filtersMenuStatus(true); mainMenuStatus(false)" >
          <span *ngIf="conuntFilters() == 0">{{ translations.filters.button[currentLang]  }}</span>
          <span *ngIf="conuntFilters() > 0">{{ translations.filters.button_change[currentLang] + ' ('+ conuntFilters() +')' }}</span>
        </span>
        <div class="filters__section">
          <p class="filters__section__title">
            <img src="../assets/images/shared/logo_mini.png" alt="Tasca Fandango" />
            <span>{{ translations.filters.title[currentLang] }}</span>
          </p>

          <span class="filters__section__close"  (click)="filtersMenuStatus(false)">
            <span class="icon-close"></span>
          </span>

          <div class="filters__section__content">
            <div class="filters__section__content__allergens">
              <p class="filters__section__content__allergens__title">{{ translations.filters.allergen_title[currentLang] }}</p>
              <ul>
                <li *ngFor="let allergen of allergens" >
                  <input type="checkbox" [value]="allergen.id" 
                    [checked]="inArray( currentFilters.allergens , allergen.id)"
                    [id]="'allergen-filter-'+allergen.id" 
                    (change)="changeFilter('allergens', allergen.id, $event.target.checked)">
                  <label [for]="'allergen-filter-'+allergen.id">
                    <span [class]="'icon-'+ allergen.icon"></span>
                    <span>{{ allergen.translate[currentLang].name }}</span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="filters__section__content__food">
              <p class="filters__section__content__food__title">{{ translations.filters.foodtypes_title[currentLang] }}</p>
              <ul>
                <li *ngFor="let foodType of foodTypes" >
                  <input type="checkbox" [value]="foodType.id" (change)="changeFilter('foodTypes', foodType.id, $event.target.checked)" 
                   [checked]="inArray( currentFilters.foodTypes , foodType.id)" name="foodtype" [id]="'foodtype-filter-'+foodType.id">
                  <label [for]="'foodtype-filter-'+foodType.id">
                    <span>{{ foodType.translate[currentLang] }}</span>
                  </label>
                </li>
              </ul>
              <p class="filters__section__content__food__title">{{ translations.filters.categores_title[currentLang] }}</p>
              <ul>
                <li *ngFor="let category  of categories">
                  <input type="checkbox" [value]="category.id" (change)="changeFilter('categories', category.id, $event.target.checked)" 
                  [checked]="inArray( currentFilters.categories , category.id)"
                  name="category" [id]="'category-filter-'+category.id">
                  <label [for]="'category-filter-'+category.id">
                    <span>{{ category.translate[currentLang].name }} </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="header__menu__filter__clear" (click)="clearFilters()">
            <span class="header__menu__filter__clear__link">
              <span class="icon-trash"></span>
              <span>{{ translations.filters.button_clear[currentLang] }}</span>
            </span>
          </div>
        </div>
      </div>