<header class="header " [ngClass]="{'active': mainMenu}">
  <div class="header--inner">
    <div class="header__menu">
      <div class="row">
        <div class="col-xs-12">
          <a [routerLink]="['home']" (click)="mainMenuStatus(false)" >
            <img src="assets/images/shared/logo.png" class="header__menu__logo" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="header__menu__nav header__menu__nav--left">
            <ul>
              <li *ngFor="let category  of categories">
                <a  (click)="goToDishes(category.id) ;mainMenuStatus(false)"  >{{ category.translate[currentLang].name}}
                  <span>({{ (getFilteredDishes( [category.id] )).length }})</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="header__menu__nav header__menu__nav--left">
            <ul>
              <li>
                <a [routerLink]="['/menus']" (click)="mainMenuStatus(false)" >{{ translations.nav.menu_title[currentLang] }}
                <span>({{ menus.length }})</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="header__menu__nav">
            <ul>
              <li>
                <a href="" (click)="mainMenuStatus(false)">{{ translations.nav.drinks_title[currentLang] }}
                  <span>(--)</span>
                </a>
              </li>
              <li>
                <a href="" (click)="mainMenuStatus(false)">{{ translations.nav.wine_title[currentLang] }}
                  <span>({{ wines.length }})</span>
                </a>
              </li>
              <li class="header__menu__nav__feature">
                <a href="" class="feat">
                  <div class="feat__image">
                    <img src="assets/images/shared/menu-bottle.png" alt="Menu bottle" />
                  </div>
                  <p class="feat__text">
                    <span class="feat__text__name">Jean Leon
                      <br>3055 Rosé</span>
                    <span class="feat__text__info">D. O. Penedés
                      <br>Variedad: Pinot NOIR</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <div class="header__menu__filter">
            <p class="header__menu__filter__title header__menu__filter__title--main">{{ translations.nav.filter_title[currentLang] }}:</p>
            <p class="header__menu__filter__title">{{ translations.nav.allergen_title[currentLang] }}</p>
            <ul class="header__menu__filter__alergen">
              <li *ngFor="let allergen of allergens" >
                <input type="checkbox" [value]="allergen.id"
                [checked]="inArray( currentFilters.allergens , allergen.id)" 
                [id]="'allergen-'+allergen.id" (change)="changeFilter('allergens', allergen.id, $event.target.checked)">
                <label [for]="'allergen-'+allergen.id">
                  <span [class]="'icon-'+allergen.icon"></span>
                  <span>{{ allergen.translate[currentLang].name }}</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="header__menu__filter">
            <p class="header__menu__filter__title header__menu__filter__title--main">&nbsp;</p>
            <p class="header__menu__filter__title">{{ translations.nav.foodtypes_title[currentLang] }}</p>
            <ul class="header__menu__filter__food">
              <li *ngFor="let foodType of foodTypes" >
                <input type="checkbox" [value]="foodType.id" 
                [checked]="inArray( currentFilters.foodTypes , foodType.id)"
                (change)="changeFilter('foodTypes', foodType.id, $event.target.checked)" name="foodtype" [id]="'foodtype-'+foodType.id">
                <label [for]="'foodtype-'+foodType.id">
                  <span>{{ foodType.translate[currentLang] }} </span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header__bar">
      <a class="header__bar__burguer" (click)="filtersMenuStatus(flase); mainMenuStatus(!mainMenu)">
        <span></span>
      </a>
      <div class="header__bar__langs">
        <ul>
          <li *ngFor="let lang of langs" >
            <span (click)="changeLang( lang.code )" [class.active]="currentLang == lang.code" > {{lang.code}}</span>
          </li>
        </ul>
      </div>
      <div class="header__bar__tag" >
        <span>{{ translations.nav.menu[currentLang] }}</span>
      </div>
    </div>
  </div>
</header>
