.dishes {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 100px 80px 60px;
  margin: 0;
  transition: all $transition;
  overflow: hidden;

  &__title {
    display: block;
    position: absolute;
    left: 80px;
    top: 30px;
    right: 80px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 143px;
    font-family: $font_special;
    font-weight: 900;
    font-size: 44px;
    line-height: 77px;
    color: $white;
    text-transform: uppercase;
    z-index: 2;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 33px;
      width: 77px;
      height: auto;
    }
  }

  &__slider {
    display: block;
    position: relative;
    height: 100%;
    z-index: 1;

    &__item {
      padding: 0 100px
    }

    &__nav {
      background-image: none;
      height: 40px;
      width: 40px;
      padding: 3px;
      margin-top: 0;
      transition: all $transition-short;

      &--prev {
        top: auto;
        right: 0;
        left: auto;
        bottom: 60px;
      }

      &--next {
        top: auto;
        right: 0;
        left: auto;
        bottom: 0;
      }

      &--disabled {
        opacity: 0.2;
        pointer-events: none;
      }

      span {
        display: block;
        color: $white;
        font-size: 34px;
        line-height: 34px;
      }
    }
  }

  &-row {
    @include flexbox;
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include align-content(stretch);

    &__dish {
      @include flex-basis(33.334%);
      padding: 50px 50px 20px;
      text-decoration: none;

      &__name {
        display: block;
        position: relative;
        width: calc(100% + 33px);
        left: -33px;
        padding-left: 33px;
        height: 96px;
        min-height: 96px;
        max-height: 96px;
        font-family: $font_special;
        color: $white;
        text-transform: uppercase;
        overflow: hidden;

        &--number {
          position: absolute;
          top: 0;
          left: 0;
          font-family: $font_default;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
        }
        &--text {
          font-weight: 300;
          font-size: 24px;
          line-height: 32px;
        }
      }

      &__image {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 220px;
        margin: 0 auto;
      }

      &__allergens {
        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include justify-content(flex-start);
        @include align-items(stretch);
        @include align-content(stretch);

        height: 52px;
        width: 100%;

        li {
          display: block;
          position: relative;
          margin-right: 5px;
          @include flex-basis(100% / 7);

          &:last-child {
            margin-right: 0;
          }

          span {
            display: inline-block;
            padding: 5px;
            font-size: 42px;
            line-height: 42px;
            background-color: $white;
            color: $darkgrey-c;
            border-radius: 50%;
          }
        }

        &--border {
          height: auto;

          li {
            padding-bottom: 30px;

            &::after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 4px;
              background-color: $primary;
            }

            @for $i from 1 through 7 {
              &:nth-child(#{$i})::after{
                $basepercent: 6%;
                $percent1: (($i - 1) * $basepercent);
                $percent2: ($i * $basepercent);
                background: linear-gradient(to right, tint($primary-darken, $percent1), tint($primary-darken, $percent2));
              }
            }
          }
        }
      }
    }
  }
}
