<%
  extra_classes ||= ""
  name ||= ""
  note ||= ""
  menu ||= ""
  wines ||= ""
%>


<div class="wines <%= extra_classes %>">

  <p class="wines__title">
    <%= image_tag '/assets/images/shared/logo_mini.png', :alt => 'Tasca Fandango' %>
    <span>Carta de vinos</span>
  </p>

  <div class="wines__filters">
    <div class="wines__filters__block">
      <p class="wines__filters__block__title">Tipo de vino</p>
      <ul class="wines__filters__block__list">
        <li>
          <input type="checkbox" value="" id="filter1">
          <label for="filter1">
            <span>Tinto</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="filter1">
          <label for="filter1">
            <span>Rosado</span>
          </label>
        </li>
        <li>
          <input type="checkbox" value="" id="filter1">
          <label for="filter1">
            <span>Blanco</span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="wines__list">

    <%= partial("modules/wine-list", :locals => {
      :extra_classes => 'wines__list__slider',
      :wines => wines
    }) %>

  </div>

</div>
