<div class="dish ">
  <img src="../assets/images/shared/logo.png" alt="Tasca Fandango" class="dish__logo" />
  <a [routerLink]="['/dishes']" class="dish__return">
    <span class="icon-return"></span>
  </a>
  <div class="swiper-container dish__slider" [swiper]="currentConfig" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div class="swiper-slide dish__slider__item" *ngFor="let dish of dishes; index as i">
        <div class="dish-item">
          <div class="row">
            <div class="col-xs-5">
              <p class="dish-item__title">{{ dish.translate[currentLang].name }}</p>
              <p class="dish-item__desc">{{ dish.translate[currentLang].description }}</p>
              <div class="dish-item__allergens">
                <p class="dish-item__allergens__title" *ngIf="dish.allergens.length > 0">{{ translations.dish.allergens_title[currentLang] }}:</p>
                <ul class="dish-item__allergens__list">
                  <li *ngFor="let allergen_id of dish.allergens ">
                    <span [class]="'icon-'+ getIcon(allergen_id) "></span>
                  </li>
                </ul>
                <ul class="dish-item__allergens__list dish-item__allergens__list--border">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7">
              <img [src]="imagesPath + dish.images[0]" class="dish-item__image" alt="Intro dish1" />
            </div>
          </div>
          <div class="dish-item__counter">
            <span class="dish-item__counter__current">
            {{ i+1 | number:'2.0-0'   }} 
            </span>
            <span class="dish-item__counter__total">
              {{ dishes.length | number:'2.0-0'  }} 
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev dish__slider__nav dish__slider__nav--prev">
      <span class="icon-chevron-up"></span>
    </div>
    <div class="swiper-button-next dish__slider__nav dish__slider__nav--next">
      <span class="icon-chevron-down"></span>
    </div>
  </div>
</div>